body {
	background-color: #34495e;
	color: #bdc3c7;
	text-align: center;
}

#content {
	height: 100%;
}

i {
	color: #bdc3c7;
}

.spotifyIn {
    padding-bottom: 10px;
    height: 100%;
}

.fa-circle-arrow-left {
	float: left;
}

.fa-circle-arrow-right {
	float: right;

}

.col-md-4 {
    display: inline;
}

h2 {
    font-size: 15pt;
}

ul {
    list-style: none;
    display: inline;
}

.makeList {
    overflow-y: scroll;
    background-color: #000;
    display: inline-block;
    height: 100%;
    width: 60%;
}

.title > h2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.header div div {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}