body {
	background-color: #34495e;
	color: #bdc3c7;
	text-align: center;
}

#content {
	padding-top: 10%;
}

.footer {
    clear: both;
    padding: 0;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
}

i {
	color: #bdc3c7;
}

#banner{
    background-color:white;
    position:absolute;
    left: 0;
    right: 0;
    padding:15px;
    height:60px;
    background-size:100%;      
}