body {
	background-color: #34495e;
	color: #bdc3c7;
}

#content {
	text-align: center;
}

.footer
{
    clear: both;
    padding: 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}